body
  background main-background-color
  color text-main-color
  font-family 'Roboto', sans-serif
  height 100vh

input
    outline none
a
  &:visited
    color inherit
  &:link
    color inherit

.clearfix:after
  content ""
  clear both
  