text-main-color = #5A5A5A
text-secondary-color = #9F9F9F

main-background-color = #FCFCFC
secondary-background-color = #464F52

youtube-color = #F05C61
youtube-light-color = lighten(youtube-color, 20%)
youtube-dark-color = darken(youtube-color, 20%)

clip-section-color = #eeeeee;

tablet-query = 641px;
laptop-query = 961px;
laptop-large-query = 1281px;
